.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  background-color: black;
  color: white;
  padding: 8px;
  text-align: left;
}

.td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.typeCell {
  display: flex;
  align-items: center;
  color: #333;
}

.typeCell > svg {
  margin-right: 8px;
}
